.App {
  font-family: sans-serif;
  text-align: center;
}
.profile {
  border-radius: 700px;
  width: 150px;
  aspect-ratio: 1/1;
  /* height: 150px; */
  object-fit: cover;
}
.counter-container {
  margin-bottom: 36px;
}
.counter-botton-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.counter-progress {
  width: 300px;
}
.counter-botton-container button {
  font-size: 18px;
}

.movie-poster {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.movie-container {
  width: 350px;
}
.movie-spec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-name {
  font-size: 18px;
  margin: 0;
}
.movie-rating {
  font-size: 18px;
}
.movie-summary {
  margin: 0;
}

.movie-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
